:root {
  --bg-color: #df455a;
  --board-size: 600px;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

#container {
  background-color: #fff;
  width: var(--board-size);
  height: 100%;
  margin: 0 auto;
}

h1 {
  margin: 25px 0 10px;
  color: var(--bg-color);
  font-size: 2.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

h4 {
  margin: 20px 0px;
  font-size: 1.4rem;
}

input,
button {
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

button {
  background-color: #fff;
  color: var(--bg-color);
  margin-top: 10px;
}

#board {
  width: var(--board-size);
  height: var(--board-size);
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  border: 3px solid var(--bg-color);
}

.square {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 6rem;
  cursor: pointer;
}

#side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: var(--bg-color);
  padding-left: 25px;
  color: #fff;
}

#side-menu a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#side-menu input {
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

#side-menu label {
  margin-bottom: 15px;
}

#side-menu #close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #fff;
}
