:root {
    --bg-color: #DF455A;
    --board-size: 600px;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #FFF;
    width: var(--board-size);
    height: 100%;
    margin: 0 auto;


}

h1 {
    margin: 25px 0 10px;
    color: var(--bg-color);
    font-size: 2.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

h4 {
    margin: 20px 0px;
    font-size: 1.4rem;
}

input,
button {
    background-color: var(--bg-color);
    padding: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

button {
    background-color: #FFF;
    color: var(--bg-color);
    margin-top: 10px;
}

.board {
    width: var(--board-size);
    height: var(--board-size);
    background-color: #FFF;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

}

.square {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 6rem;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: var(--bg-color);
    padding-left: 25px;
    color: #FFF;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu input {
    background-color: #FFF;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;

}

.side-menu label {
    margin-bottom: 15px;
}

.side-menu .close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: #FFF;
}